.about_container {
  max-width: 800px;
  &__image {
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 20px 15px 5px 5px;
  }
  &__text {
    display: inline-block;
    width: 26%;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  &__name {
    padding: 20px 0 0 0;
    font-weight: bold;
    font-size: 18px;
  }
}